-i https://pypi.org/simple
coverage==7.3.0
iniconfig==2.0.0; python_version >= '3.7'
packaging==23.1; python_version >= '3.7'
pluggy==1.2.0; python_version >= '3.7'
pytest==7.4.0
python-dotenv==1.0.0
sqlalchemy==1.4.49
